body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.film-booking {
  background-image: url(../public/img/movie-bg.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  padding-top: 2%;
}

.screen {
  background-color: orange;
  height: 10%;
  width: 90%;
  margin-left: 6%;
  box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.5);
  font-size: 25px;
  color: #fff;
}

.seat {
  border: 1px solid orange;
  box-shadow: 0px -1px 4px 3px #999 inset;
  width: 40px;
  font-size: 12px;
  color: yellow;
  border-radius: 5px;
  margin-right: 5%;
  cursor: pointer;
}
